#app-logo-vader{
    position: absolute;
    z-index: -1;
    bottom: 0px;
    right: 0px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}